@font-face {
    font-family: Outfit;
    src: local("outfit"),
         url(outfit.ttf);
  }
  

body {
    background-color: hsl(212, 45%, 89%);
    min-height:100vh; 
    display: flex;
    justify-content: center
}

main {
    width: 230px;
    max-height: 380px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 14px;
}

#qr {
    margin: 10px;
    border-radius: 10px;
    max-width: 210px ;
}

#text {
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: Outfit;
    font-weight: 700 bold;
    font-size: 16px;
    color: hsl(218, 44%, 22%);
    margin: 0;
}

p {
    font-family: Outfit;
    font-weight: 400;
    font-size: 11px;
    margin: 0;
}
